


.navBar{
    float: right;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #000;
    overflow: hidden;
}
.logoBox{
    position: absolute;
    top: 0px;
    left: 30px;
}
.navBar .logo{
    height: 40px;
}
.navBar a{
    float: right;
    padding:14px 12px;
    text-align: center;
    color: #aaa;
    display: block;
}