@import url('navstyles.css');

/*Light Green: #98f24f
Medium Green: #46f41e
Dark Green: #22b700

LIGHT GREY: #eef2ed
MEDIUM GREY: #caccc9
DARK GREY: #adafac
*/

body{
    width: 100%;
    position: fixed;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    /*background-image: linear-gradient(to right bottom, #98f24f7a, #22b7007a), url('IMAGES/people2.jpg');
    background-size: cover;*/
    
}
a{
    text-decoration: none;
}
.button{
    padding: 12px 17px;
    background-color: #fff;
    color: #46f41e;
    border-radius: 5px;
}
a.button:hover{
    background-color: #46f41e;
    color: #fff;
}

/*.forgotPassword{
    float: left !important;
}*/
small.noAccount{
    display: block;
    text-align: center;
}

/*form{
    margin: 5% 0;
}*/
label{
    padding: 12px 12px 12px 0;
}
input{
    width: 100%;
    padding: 12px;
    display: block;
    border: 2px solid #eef2ed;
    border-radius: 5px;
    margin-top: 3%;
}
input:active{
    border: #adafac;
}
.loginBox{
    position: fixed;
    top: 50%;
    right: 10%;
    transform: translateY(-50%); 
    /*height: 50%*/;
    width: 20%;
    /*text-align: center;*/
}
.login{
    font-size: 20px;
    font-weight: 900;
    text-transform: capitalize;
}
a.loginButton{
    display: block;
    margin: 3% 0;
    text-align: center;
}
.row{
    margin: 3% 0;
}
.row:after{
    content: "";
    display: table;
    clear: both;

}
.col1, .col2{
    width: 40%;
    float: left;
}
.col1{
    margin-right: 10%;
}
.resetButton, .reg_button, .addContactButton{
    text-align: center;
    display: block;
}


/*  ===   PROFILE PAGE STYLES   ===   */
.container{
    display: flex;
}
/*.mainBox{
    /*width: 60%;
    /*margin: 2%;
    border: 2px outset #adafac;
}
.newContact{
    width: 40%;
}*/
.header{
    width: 100%;
    padding: 15px;
}
a.headOptions{
   margin-right: 5%;
}
/*.contacts{
    width: 100%;
    margin: 5%;
}*/
table{
    border-collapse: collapse;
    width: 100%;
}
tr{
    width:  100%;
}
tr:nth-child(odd){
    background-color: #f7f7f7;
}
th,td{
    text-align: left;
    padding: 10px;
    width: 20%;
}
#s_n{
    width: 5%;
}