

/*Light Green: #98f24f
Medium Green: #46f41e
Dark Green: #22b700

LIGHT GREY: #eef2ed
MEDIUM GREY: #caccc9
DARK GREY: #adafac
*/
*{
    box-sizing: border-box;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 100px;
    height: 100px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
html{
    font-size: 62.5%;
}
body{
    width: 100%;
    position: fixed;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;    
}
.landingbox{    
    height: 100vh;
    background-image:linear-gradient(to right bottom, #46f41eb2, #98f24fb2) , url('IMAGES/people1.jpg');
    background-size: cover;
    background-position: top;
    animation: animate 2s; 
}
.logo{
    position: absolute;
    top: 4rem;
    left: 4rem;
}
#logo{
    height: 5rem;
}
/* === LANDING PAGE TEXT */
.introBox{
    position: absolute;
    top: 35%;
    left: 2rem;
    /*transform: translateY(-80%);*/
    text-align: center;
}
#introHead{
    display: block;
    font-size: 5.5rem;
    color: #fff;
    letter-spacing: .5rem;
}
#introsub{
    color: #fff;
    letter-spacing: 1.2rem;
    font-size: 2rem;
    font-weight: 400;
}


/* === BUTTONS === */
a{
    text-decoration: none;
}
.button{
    padding: .9rem 1.7rem;
    font-size: 1.5rem;
    background-color: #fff;
    color: #46f41e;
    border-radius: .5rem;
    width: fit-content;
}
a.button:hover{
    background-color: #46f41e;
    color: #fff;
}
/* == PROFILE PAGE BUTTONS == */
.resetButton, #reg_button, .addContactButton{
    text-align: center;
    display: block;
    background-color: #46f41e;
    color: #fff;
}
.cButton{
    display: inline-block;
    margin-top: 3%;
    background-color: #46f41e;
    color: #fff;
    font-weight: 600;
}
.cButton:hover{
    opacity: 0.6;
}
#deleteButton{
    background-color: red;
}


/* === FORM CONTENT STYLES === */
label{
    padding: 1.2rem 1.2rem 1.2rem 0;
    font-size: 1.5rem;
}
input{
    width: 100%;
    padding: 1.2rem;
    display: block;
    border: 2px solid #eef2ed;
    border-radius: .5rem;
    margin-top: 3%;
}
.row{
    margin: 3% 0;
}
.row:after{
    content: "";
    display: table;
    clear: both;

}
.col1, .col2{
    width: 40%;
    float: left;
}
.col1{
    margin-right: 10%;
}

/* === LOG IN SECTION === */
.loginBox{
    position: fixed;
    top: 50%;
    right: 10%;
    transform: translateY(-50%); 
    width: 20%;    
}
.login, headerText{
    font-size: 3.5rem;
    font-weight: 700;
    color: #fff;
}
span.headerText{
    color: #000;
}
a#loginButton{
    display: block;
    margin: 3% 0;
    /*float: right;*/
}
small{
    font-size: 1.2rem;
}

/* === REGISTRATION MODAL === */
#delete_alert, #signUp{
    display: none;
    position: fixed;
    z-index: 1;
    padding: 10%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.548);
    animation: animate 1s;
}
@keyframes animate{
    from{ 
        bottom:-10rem; opacity:0 
    } to{
         bottom:0; opacity:1 
        }
}
.regContent{
    position: relative;
    top:0;
    left: 50%;
    transform: translateX(-70%);
    background-color: #fefefe;
    width: 40%;
    padding: 2rem;
}
#close{
    font-weight: 400;
    font-size: 3rem;
    color: #adafac;
    float: right;
}
#close:hover{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.61);
}


/*  ===   PROFILE PAGE STYLES   ===   */
.container{
    display: flex;
    margin: 2%;
    box-shadow: -0.1rem .4rem 2rem .6rem #adafac;
    animation: animate 3s;   
}
.mainBox{
    overflow: auto;
    height: 90vh;
    padding: 2rem;
    width: 60%;
}
.newContact{
    padding: 2rem;
}

.header{
    width: 100%;
    padding: 1.5rem;   
    
}
a.headOptions{
   margin-right: 5%;
}

table{
    border-collapse: collapse;
    width: 100%;
}
tr{
    width:  100%;
    font-size: 1.5rem;
}
tbody tr:hover, tbody tr:nth-child(odd):hover{
    background-color: #adafac;
    cursor: pointer;
}
tbody tr:nth-child(odd){
    background-color: #f7f7f7;
}
th,td{
    text-align: left;
    padding: 1rem;
    width: 20%;
}
#no_of_contacts{
    display: block;
    font-size: 2rem;
    margin-top: 3%;
    letter-spacing: .5rem;
}
#s_n{
    width: 5%;
}
.alert_modal{
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 40%;
    padding: 2rem;
    background-color: rgba(255, 0, 0, 0.849);
    color: #fff;
    transition: opacity 1s;
    text-align: center;
    font-size: 2rem;

}
#deleteMessage{
    margin: 5% 0;
    
    display: block;
}
.deleteOption{
    padding: .6rem 2rem;
    cursor: pointer;
}